In [2]:
import pandas as pd 
data =  pd.read_csv('SMSSpamCollection.tsv', sep = '\t', names = ['label', 'message'])
data.head()

  label                                            message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [3]:
text = data['message']
label = data['label']

#Number of Words
#x = lambda a : a + 10
#print(x(5))
data['word_count'] = data['message'].apply(lambda x: len(str(x).split(" ")))
data[['message','word_count']].head()

                                             message  word_count
0  I've been searching for the right words to tha...          37
1  Free entry in 2 a wkly comp to win FA Cup fina...          28
2  Nah I don't think he goes to usf, he lives aro...          13
3  Even my brother is not like to speak with me. ...          16
4                I HAVE A DATE ON SUNDAY WITH WILL!!           8

In [4]:
#Number of characters
data['char_count'] = data['message'].str.len() ## this also includes spaces
data[['message','char_count']].head()

                                             message  char_count
0  I've been searching for the right words to tha...         196
1  Free entry in 2 a wkly comp to win FA Cup fina...         155
2  Nah I don't think he goes to usf, he lives aro...          61
3  Even my brother is not like to speak with me. ...          77
4                I HAVE A DATE ON SUNDAY WITH WILL!!          35

In [5]:
#Average Word Length
def avg_word(sentence):
  words = sentence.split()
  #print(words)
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['message'].apply(lambda x: avg_word(x))
data[['message','avg_word']].head()

                                             message  avg_word
0  I've been searching for the right words to tha...  4.324324
1  Free entry in 2 a wkly comp to win FA Cup fina...  4.571429
2  Nah I don't think he goes to usf, he lives aro...  3.769231
3  Even my brother is not like to speak with me. ...  3.875000
4                I HAVE A DATE ON SUNDAY WITH WILL!!  3.500000

In [6]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['message'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['message','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                             message  stopwords
0  I've been searching for the right words to tha...         19
1  Free entry in 2 a wkly comp to win FA Cup fina...          5
2  Nah I don't think he goes to usf, he lives aro...          5
3  Even my brother is not like to speak with me. ...          6
4                I HAVE A DATE ON SUNDAY WITH WILL!!          0

In [7]:
#Number of special characters
data['hastags'] = data['message'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['message','hastags']].head()

                                             message  hastags
0  I've been searching for the right words to tha...        0
1  Free entry in 2 a wkly comp to win FA Cup fina...        0
2  Nah I don't think he goes to usf, he lives aro...        0
3  Even my brother is not like to speak with me. ...        0
4                I HAVE A DATE ON SUNDAY WITH WILL!!        0

In [8]:
#Number of numerics
data['numerics'] = data['message'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['message','numerics']].head()

                                             message  numerics
0  I've been searching for the right words to tha...         0
1  Free entry in 2 a wkly comp to win FA Cup fina...         2
2  Nah I don't think he goes to usf, he lives aro...         0
3  Even my brother is not like to speak with me. ...         0
4                I HAVE A DATE ON SUNDAY WITH WILL!!         0

In [9]:
#Number of Uppercase words
data['upper'] = data['message'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['message','upper']].head()

                                             message  upper
0  I've been searching for the right words to tha...      1
1  Free entry in 2 a wkly comp to win FA Cup fina...      2
2  Nah I don't think he goes to usf, he lives aro...      1
3  Even my brother is not like to speak with me. ...      0
4                I HAVE A DATE ON SUNDAY WITH WILL!!      8

In [10]:

pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
    except:
        pass
    return cnt

data['noun_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['message'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['message','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Krishna\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

,message,noun_count,verb_count,adj_count,adv_count,pron_count
0,I've been searching for the right words to tha...,6,11,3,0,6
1,Free entry in 2 a wkly comp to win FA Cup fina...,14,3,4,0,0
2,"Nah I don't think he goes to usf, he lives aro...",1,5,0,3,3
3,Even my brother is not like to speak with me. ...,3,3,0,2,4
4,I HAVE A DATE ON SUNDAY WITH WILL!!,4,1,0,0,1

In [11]:
data[['message','word_count','char_count','avg_word','stopwords','hastags','numerics','upper','noun_count','verb_count','adj_count', 'adv_count', 'pron_count','label' ]].head()

,message,word_count,char_count,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count,label
0,I've been searching for the right words to tha...,37,196,4.324324,19,0,0,1,6,11,3,0,6,ham
1,Free entry in 2 a wkly comp to win FA Cup fina...,28,155,4.571429,5,0,2,2,14,3,4,0,0,spam
2,"Nah I don't think he goes to usf, he lives aro...",13,61,3.769231,5,0,0,1,1,5,0,3,3,ham
3,Even my brother is not like to speak with me. ...,16,77,3.875000,6,0,0,0,3,3,0,2,4,ham
4,I HAVE A DATE ON SUNDAY WITH WILL!!,8,35,3.500000,0,0,0,8,4,1,0,0,1,ham

In [13]:
features = data[['word_count','char_count','avg_word','stopwords','hastags','numerics','upper','noun_count','verb_count','adj_count', 'adv_count', 'pron_count']]
#label = data['label']

import numpy as np
classes_list = ["ham","spam"]
label_index = data['label'].apply(classes_list.index)
label = np.asarray(label_index)

In [14]:
import numpy as np
features_array = np.asarray(features)
features_array.shape

(5568, 12)

In [15]:
# data split into train and text
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_array, label, test_size=0.33, random_state=42)

In [16]:
from sklearn.metrics import accuracy_score
from sklearn import metrics

from sklearn.svm import SVC
model_SVM = SVC()
model_SVM.fit(x_train, y_train)
y_pred_SVM = model_SVM.predict(x_test)
print("SVM")
print("Accuracy score =", accuracy_score(y_test, y_pred_SVM))
print(metrics.classification_report(y_test, y_pred_SVM))



from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(x_train,y_train)
y_pred_naive = naive.predict(x_test)
print("Naive Bayes")
print("Accuracy score =", accuracy_score(y_test, y_pred_naive))
print(metrics.classification_report(y_test, y_pred_naive ))

SVM
Accuracy score = 0.9314472252448314
              precision    recall  f1-score   support

           0       0.95      0.97      0.96      1608
           1       0.77      0.65      0.70       230

    accuracy                           0.93      1838
   macro avg       0.86      0.81      0.83      1838
weighted avg       0.93      0.93      0.93      1838

Naive Bayes
Accuracy score = 0.9221980413492927
              precision    recall  f1-score   support

           0       0.96      0.95      0.96      1608
           1       0.67      0.74      0.71       230

    accuracy                           0.92      1838
   macro avg       0.82      0.85      0.83      1838
weighted avg       0.93      0.92      0.92      1838

In [18]:
# data split into train and text
import numpy as np
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_array, label, test_size=0.33, random_state=42)
x_train.shape

(3730, 12)

In [21]:
data = pd.read_csv('SMSSpamCollection.tsv', sep = '\t', names = ['label','message'])
text = data['message']
class_label = data['label']

In [22]:
import numpy as np
classes_list = ["ham","spam"]
label_index = class_label.apply(classes_list.index)
label = np.asarray(label_index)

In [23]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text, label, test_size=0.33, random_state=42)

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range = (1,1))
x_train = vectorizer.fit_transform(X_train)
x_test = vectorizer.transform(X_test)

x_train.shape

(3730, 7118)

In [24]:
vectorizer.get_feature_names()

['00',
 '000',
 '008704050406',
 '0089',
 '0121',
 '01223585334',
 '02',
 '0207',
 '02072069400',
 '02073162414',
 '02085076972',
 '03',
 '04',
 '0430',
 '05',
 '050703',
 '0578',
 '06',
 '07',
 '07046744435',
 '07090201529',
 '07099833605',
 '07123456789',
 '0721072',
 '07732584351',
 '07734396839',
 '07742676969',
 '0776xxxxxxx',
 '07781482378',
 '07786200117',
 '077xxx',
 '078',
 '07801543489',
 '07808247860',
 '07808726822',
 '07821230901',
 '078498',
 '07880867867',
 '0789xxxxxxx',
 '07946746291',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '08',
 '0800',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986030',
 '08002986906',
 '08006344447',
 '0808',
 '08081560665',
 '083',
 '0844',
 '08448350055',
 '08448714184',
 '0845',
 '08450542832',
 '08452810071',
 '08452810073',
 '08452810075over18',
 '0870',
 '08700469649',
 '08700621170150p',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701417012150p',
 '087016248',
 '087018728737',
 '0870241182716',
 '08702490080',
 '08702840625',
 '08704439680',
 '08706091795',
 '08707500020',
 '08707509020',
 '0870753331018',
 '08707808226',
 '08708034412',
 '08709222922',
 '08709501522',
 '0871',
 '087104711148',
 '08712101358',
 '08712103738',
 '0871212025016',
 '08712300220',
 '087123002209am',
 '08712317606',
 '08712400602450p',
 '08712400603',
 '08712402050',
 '08712402779',
 '08712402972',
 '08712404000',
 '08712405020',
 '08712405022',
 '08712460324',
 '08712466669',
 '0871277810710p',
 '0871277810810',
 '087147123779am',
 '08714712379',
 '08714712388',
 '08714712394',
 '08714712412',
 '08714714011',
 '08715203649',
 '08715203656',
 '08715205273',
 '08715500022',
 '08715705022',
 '08717111821',
 '08717168528',
 '08717205546',
 '0871750',
 '08717507382',
 '08717509990',
 '08717890890',
 '08717895698',
 '08717898035',
 '08718711108',
 '08718720201',
 '08718723815',
 '08718725756',
 '08718726270',
 '087187262701',
 '08718726971',
 '08718726978',
 '087187272008',
 '08718727868',
 '08718727870',
 '08718730555',
 '08718730666',
 '08718738001',
 '08718738002',
 '08719180219',
 '08719180248',
 '08719181259',
 '08719181513',
 '08719839835',
 '08719899229',
 '08719899230',
 '09',
 '09050000460',
 '09050000928',
 '09050001808',
 '09050002311',
 '09050003091',
 '09050005321',
 '09050090044',
 '09053750005',
 '09056242159',
 '09058091854',
 '09058091870',
 '09058094454',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094597',
 '09058094599',
 '09058095107',
 '09058095201',
 '09058097189',
 '09058098002',
 '09058099801',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061701461',
 '09061701851',
 '09061701939',
 '09061743386',
 '09061743806',
 '09061743810',
 '09061743811',
 '09061749602',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063442151',
 '09063458130',
 '09064011000',
 '09064012103',
 '09064012160',
 '09064015307',
 '09064017295',
 '09064017305',
 '09064019788',
 '09065069120',
 '09065069154',
 '09065171142',
 '09065174042',
 '09065394973',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066358361',
 '09066362206',
 '09066362220',
 '09066362231',
 '09066364311',
 '09066364589',
 '09066368470',
 '09066368753',
 '09066380611',
 '09066382422',
 '09066612661',
 '09066649731from',
 '09066660100',
 '09071512432',
 '09071512433',
 '09071517866',
 '09090204448',
 '09090900040',
 '09094100151',
 '09094646631',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099726395',
 '09099726429',
 '09099726553',
 '09701213186',
 '10',
 '100',
 '1000',
 '1000call',
 '1000s',
 '100p',
 '100percent',
 '1030',
 '10am',
 '10k',
 '10p',
 '10ppm',
 '11',
 '1120',
 '113',
 '1131',
 '114',
 '1146',
 '116',
 '1172',
 '118p',
 '11mths',
 '11pm',
 '12',
 '1205',
 '121',
 '1225',
 '123',
 '125',
 '1250',
 '125gift',
 '12hours',
 '12hrs',
 '12mths',
 '13',
 '1327',
 '139',
 '14',
 '140',
 '1405',
 '140ppm',
 '145',
 '1450',
 '146tf150p',
 '14tcr',
 '14thmarch',
 '15',
 '150',
 '1500',
 '150p',
 '150p16',
 '150pm',
 '150ppermesssubscription',
 '150ppm',
 '150ppmpobox10183bhamb64xe',
 '150pw',
 '153',
 '15541',
 '15pm',
 '16',
 '1680',
 '169',
 '177',
 '18',
 '180',
 '1843',
 '18yrs',
 '195',
 '1956669',
 '1b6a5ecef91ff9',
 '1er',
 '1hr',
 '1mega',
 '1pm',
 '1st',
 '1stchoice',
 '1stone',
 '1win150ppmx3',
 '1winaweek',
 '1winawk',
 '1x150p',
 '1yf',
 '20',
 '200',
 '2000',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '200p',
 '2025050',
 '20m12aq',
 '20p',
 '21',
 '21870000',
 '21st',
 '22',
 '220',
 '2309',
 '24',
 '24hrs',
 '24m',
 '24th',
 '25',
 '250',
 '250k',
 '25p',
 '26',
 '2667',
 '26th',
 '27',
 '28',
 '2814032',
 '28days',
 '29',
 '2b',
 '2c',
 '2channel',
 '2day',
 '2end',
 '2exit',
 '2find',
 '2getha',
 '2go',
 '2gthr',
 '2hook',
 '2hrs',
 '2i',
 '2kbsubject',
 '2lands',
 '2marrow',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mro',
 '2mrw',
 '2mwen',
 '2nd',
 '2nite',
 '2optout',
 '2p',
 '2rcv',
 '2stop',
 '2stoptx',
 '2stoptxt',
 '2u',
 '2u2',
 '2watershd',
 '2waxsto',
 '2wks',
 '2wt',
 '2wu',
 '2years',
 '2yr',
 '30',
 '300',
 '3000',
 '300603',
 '300603t',
 '300p',
 '3030',
 '30apr',
 '30ish',
 '30pm',
 '30pp',
 '30th',
 '31',
 '3100',
 '310303',
 '31p',
 '32',
 '32000',
 '3230',
 '326',
 '33',
 '330',
 '350',
 '3510i',
 '3650',
 '36504',
 '373',
 '3750',
 '37819',
 '382',
 '391784',
 '3aj',
 '3d',
 '3days',
 '3g',
 '3gbp',
 '3hrs',
 '3lp',
 '3miles',
 '3mins',
 '3mobile',
 '3optical',
 '3pound',
 '3qxj9',
 '3rd',
 '3ss',
 '3uz',
 '3wks',
 '3x',
 '3xx',
 '40',
 '400',
 '400mins',
 '402',
 '4041',
 '40411',
 '40533',
 '40gb',
 '41685',
 '42049',
 '4217',
 '434',
 '440',
 '4403ldnw1a7rw18',
 '447797706009',
 '447801259231',
 '448712404000',
 '449071512431',
 '45',
 '450',
 '450ppw',
 '45239',
 '45pm',
 '4719',
 '4742',
 '48922',
 '49',
 '49557',
 '4a',
 '4d',
 '4eva',
 '4few',
 '4fil',
 '4get',
 '4give',
 '4goten',
 '4info',
 '4msgs',
 '4mths',
 '4my',
 '4qf2',
 '4t',
 '4th',
 '4the',
 '4thnov',
 '4u',
 '4utxt',
 '4w',
 '4years',
 '50',
 '500',
 '5000',
 '505060',
 '50award',
 '50gbp',
 '50p',
 '50perweeksub',
 '50perwksub',
 '50pm',
 '50s',
 '515',
 '5226',
 '523',
 '5249',
 '526',
 '528',
 '530',
 '54',
 '542',
 '545',
 '5digital',
 '5free',
 '5ish',
 '5k',
 '5min',
 '5mls',
 '5p',
 '5pm',
 '5th',
 '5wb',
 '5we',
 '5wkg',
 '5wq',
 '600',
 '6031',
 '6089',
 '60p',
 '61',
 '61610',
 '62220cncl',
 '6230',
 '62468',
 '62735',
 '630',
 '645',
 '65',
 '650',
 '66',
 '6669',
 '674',
 '67441233',
 '68866',
 '69101',
 '69200',
 '69696',
 '69698',
 '69855',
 '69866',
 '69876',
 '69888',
 '69888nyt',
 '69911',
 '69969',
 '6days',
 '6hl',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6ph',
 '6pm',
 '6th',
 '6times',
 '6wu',
 '6zf',
 '700',
 '7250',
 '7250i',
 '730',
 '75',
 '750',
 '7548',
 '762',
 '7634',
 '7684',
 '77',
 '78',
 '786',
 '7876150ppm',
 '7am',
 '7cfca1a',
 '7mp',
 '7pm',
 '7th',
 '80',
 '800',
 '80062',
 '8007',
 '80082',
 '80086',
 '80160',
 '80182',
 '80488',
 '80608',
 '8077',
 '80878',
 '81010',
 '81151',
 '81303',
 '81618',
 '820554ad0a1705572711',
 '82242',
 '82277',
 '82324',
 '83021',
 '83039',
 '83049',
 '83110',
 '83118',
 '83222',
 '83338',
 '83355',
 '83370',
 '83383',
 '83600',
 '83738',
 '84025',
 '84122',
 '84128',
 '84199',
 '84484',
 '85',
 '850',
 '85023',
 '85069',
 '85233',
 '8552',
 '85555',
 '86021',
 '861',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87070',
 '87077',
 '87121',
 '87131',
 '8714714',
 '872',
 '87239',
 '87575',
 '88039',
 '88066',
 '88088',
 '88600',
 '88800',
 '8883',
 '88888',
 '89034',
 '89070',
 '89080',
 '89105',
 '89123',
 '89545',
 '89555',
 '89693',
 '8ball',
 '8p',
 '8pm',
 '8th',
 '8wp',
 '900',
 '910',
 '9153',
 '9280114',
 '92h',
 '945',
 '946',
 '95',
 '9755',
 '9758',
 '97n7qp',
 '98321561',
 '99',
 '9996',
 '9ae',
 '9am',
 '9ja',
 '9pm',
 '9t',
 '____',
 'a30',
 'aah',
 'aaniye',
 'aathi',
 'ab',
 'abbey',
 'abeg',
 'abel',
 'aberdeen',
 'abi',
 'ability',
 'abiola',
 'abj',
 'able',
 'abnormally',
 'about',
 'aboutas',
 'above',
 'abroad',
 'absence',
 'absolutely',
 'absolutly',
 'abstract',
 'abt',
 'abta',
 'aburo',
 'ac',
 'academic',
 'acc',
 'accent',
 'accept',
 'access',
 'accessible',
 'accidant',
 'accident',
 'accidentally',
 'accommodationvouchers',
 'accomodate',
 'accomodations',
 'accordingly',
 'account',
 'accounting',
 'accounts',
 'accumulation',
 'achan',
 'ache',
 'achieve',
 'acid',
 'acl03530150pm',
 'aco',
 'across',
 'act',
 'acted',
 'actin',
 'action',
 'activ8',
 'activate',
 'active',
 'activities',
 'actor',
 'actual',
 'actually',
 'ad',
 'adam',
 'add',
 'addamsfa',
 'added',
 'addicted',
 'addie',
 'adding',
 'address',
 'adewale',
 'adi',
 'adjustable',
 'admin',
 'administrator',
 'admirer',
 'admission',
 'admit',
 'adore',
 'adoring',
 'adp',
 'adress',
 'adrink',
 'ads',
 'adsense',
 'adult',
 'adults',
 'advance',
 'adventure',
 'advice',
 'advise',
 'advising',
 'advisors',
 'aeronautics',
 'aeroplane',
 'afew',
 'affair',
 'affairs',
 'affection',
 'affectionate',
 'affections',
 'affidavit',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aft',
 'after',
 'afternon',
 'afternoon',
 'afternoons',
 'aftr',
 'ag',
 'again',
 'against',
 'agalla',
 'age',
 'age16',
 'age23',
 'agency',
 'agent',
 'agents',
 'ages',
 'ago',
 'agree',
 'ah',
 'aha',
 'ahead',
 'ahhh',
 'ahmad',
 'ahold',
 'aid',
 'aids',
 'aig',
 'aight',
 'ain',
 'aint',
 'air',
 'air1',
 'airport',
 'airtel',
 'aiya',
 'aiyah',
 'aiyar',
 'aiyo',
 'ajith',
 'aka',
 'akon',
 'al',
 'alaikkum',
 'alaipayuthe',
 'album',
 'alcohol',
 'alert',
 'alertfrom',
 'aletter',
 'alex',
 'alfie',
 'algarve',
 'algebra',
 'algorithms',
 'ali',
 'alian',
 'alibi',
 'alive',
 'all',
 'allah',
 'allalo',
 'allday',
 'alle',
 'allo',
 'allow',
 'allowed',
 'allows',
 'almost',
 'alone',
 'along',
 'alot',
 'already',
 'alright',
 'alrite',
 'also',
 'alter',
 'although',
 'aluable',
 'always',
 'alwys',
 'am',
 'ambrith',
 'american',
 'ami',
 'amigos',
 'amk',
 'amla',
 'amma',
 'ammae',
 'among',
 'amongst',
 'amount',
 'amp',
 'amplikater',
 'amrca',
 'amrita',
 'ams',
 'amt',
 'amy',
 'an',
 'ana',
 'anal',
 'anand',
 'and',
 'anderson',
 'andre',
 'andros',
 'angels',
 'angry',
 'animal',
 'animation',
 'anjola',
 'anna',
 'annie',
 'anniversary',
 'annoncement',
 'announcement',
 'annoyin',
 'annoying',
 'anot',
 'another',
 'ans',
 'ansr',
 'answer',
 'answered',
 'answerin',
 'answering',
 'answers',
 'antelope',
 'anthony',
 'any',
 'anybody',
 'anymore',
 'anyone',
 'anyones',
 'anyplaces',
 'anythiing',
 'anythin',
 'anything',
 'anythingtomorrow',
 'anytime',
 'anyway',
 'anyways',
 'anywhere',
 'aom',
 'apart',
 'apartment',
 'apes',
 'aphex',
 'apnt',
 'apo',
 'apologetic',
 'apologise',
 'apologize',
 'apology',
 'app',
 'apparently',
 'appear',
 'appendix',
 'applausestore',
 'applebees',
 'apples',
 'application',
 'apply',
 'applyed',
 'applying',
 'appointment',
 'appreciate',
 'appreciated',
 'approaching',
 'approve',
 'approved',
 'approx',
 'apps',
 'appt',
 'april',
 'aproach',
 'apt',
 'aptitude',
 'aquarius',
 'ar',
 'arab',
 'arcade',
 'archive',
 'ard',
 'are',
 'area',
 'aren',
 'arent',
 'aretaking',
 'areyouunique',
 'argentina',
 'argue',
 'arguing',
 'argument',
 'arguments',
 'aries',
 'arises',
 'arm',
 'armand',
 'armenia',
 'arms',
 'arng',
 'arnt',
 'around',
 'arrange',
 'arranging',
 'arrested',
 ...]

In [26]:
from sklearn.metrics import accuracy_score
from sklearn import metrics

from sklearn.svm import SVC
model_SVM = SVC()
model_SVM.fit(x_train, y_train)
y_pred_SVM = model_SVM.predict(x_test)
print("SVM")
print("Accuracy score =", accuracy_score(y_test, y_pred_SVM))
print(metrics.classification_report(y_test, y_pred_SVM))


from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(x_train.toarray(),y_train)
y_pred_naive = naive.predict(x_test.toarray())
print("Naive Bayes")
print("Accuracy score =", accuracy_score(y_test, y_pred_naive))
print(metrics.classification_report(y_test, y_pred_naive ))

SVM
Accuracy score = 0.9793253536452666
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1608
           1       0.99      0.84      0.91       230

    accuracy                           0.98      1838
   macro avg       0.98      0.92      0.95      1838
weighted avg       0.98      0.98      0.98      1838

Naive Bayes
Accuracy score = 0.8906420021762785
              precision    recall  f1-score   support

           0       0.98      0.89      0.93      1608
           1       0.54      0.87      0.67       230

    accuracy                           0.89      1838
   macro avg       0.76      0.88      0.80      1838
weighted avg       0.92      0.89      0.90      1838